#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2100;
  padding: 2rem 4rem;
  pointer-events: none;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: auto;
}

#header .header__nav-btn {
  width: 100px;
  height: 100px;
  background-color: #0000cc;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  position: relative;
  z-index: 1900;
  opacity: 0;
  transform: translateX(-100px);
}

.nav-btn__top-row,
.nav-btn__bottom-row {
  display: flex;
  gap: 6px;
  width: 100%;
  height: 2px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-btn__top-row span,
.nav-btn__bottom-row span {
  display: block;
  height: 2px;
  background-color: #fff;
  transition: background-color 0.3s;
  transform-origin: 50% 50%;
  border-radius: 10px;
  position: relative;
}

.nav-btn__top-row span:nth-of-type(1) {
  width: 12px;
}
.nav-btn__top-row span:nth-of-type(2) {
  width: 30px;
}
.nav-btn__bottom-row span:nth-of-type(1) {
  width: 35px;
}
.nav-btn__bottom-row span:nth-of-type(2) {
  width: 7px;
  opacity: 0;
}

.header__text {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #111;
  opacity: 0;
  transform: translateX(100px);
}

#header .header__nav-btn.is-open .nav-btn__top-row,
#header .header__nav-btn.is-open .nav-btn__bottom-row {
  gap: 0;
}
