.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 4rem;
}

.hero__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.hero__title {
  font-size: 7.3vw;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  letter-spacing: -0.02em;
}

.hero-text-line {
  opacity: 0;
  transform: translateY(30px);
  white-space: nowrap;
}

.bottom-line {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  flex-wrap: wrap;
}

.year {
  font-weight: 300;
}

.hero__signature {
  display: inline-block;
  width: 50vw;
  height: auto;
  position: relative;
  top: 10px;
  margin-left: 10px;
}

.signature-svg {
  width: 100%;
  height: auto;
  overflow: visible;
}

.signature-fill-layer path {
  fill: #0000cc;
  stroke: none;
  opacity: 0;
}
.signature-fill-layer {
  clip-path: inset(0 100% 0 0);
}

.signature-stroke-layer path {
  fill: none;
  stroke: #0000cc;
  stroke-width: 2px;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.hero__bottom-left {
  position: absolute;
  bottom: 5rem;
  left: 0;
  z-index: 10;
  opacity: 0;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.01em;
  position: absolute;
}

.hello-world-text {
  display: inline-block;
  position: relative;
}

.hello-world-underline {
  position: absolute;
  left: 95px;
  bottom: -20px;
  width: 164px;
  height: auto;
  pointer-events: none;
}

.hero__scroll {
  position: absolute;
  bottom: 3rem;
  right: 0;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  transform: translateX(50px);
  display: flex;
  align-items: flex-end;
  gap: 5px;
  writing-mode: initial;
}

.scroll-text {
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-weight: 300;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  line-height: 1;
  user-select: none;
}

.scroll-mark {
  width: 22.7px;
  height: 165.7px;
  display: block;
}
