.intro-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0000cc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.intro-inner {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-title {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  display: flex;
  gap: 1.5rem;
  align-items: flex-end;
  justify-content: center;
}

.text-world {
  position: relative;
  display: inline-block;
}

.underline-wrapper {
  position: absolute;
  bottom: -35px;
  left: -10px;
  width: 120%;
  height: auto;
  z-index: -1;
  clip-path: inset(0 100% 0 0);
}

.underline-svg {
  width: 100%;
  height: auto;
  display: block;
}
