.overlay-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 1fr);
  pointer-events: none;
  visibility: hidden;
}

.overlay-menu.menu--open {
  pointer-events: auto;
  visibility: visible;
}

.menu__item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.menu__item-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transform: translate3d(100%, 0, 0);
}

@media screen and (min-width: 1024px) {
  .overlay-menu {
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "item3 item2 item1"
      "item4 item5 item1";
  }

  .menu__item--1 {
    grid-area: item1;
  }
  .menu__item--2 {
    grid-area: item2;
  }
  .menu__item--3 {
    grid-area: item3;
  }
  .menu__item--4 {
    grid-area: item4;
  }
  .menu__item--5 {
    grid-area: item5;
  }
}

.menu__item--1 .menu__item-inner {
  background-color: #111;
}
.menu__item--2 .menu__item-inner {
  background-color: #0000cc;
}
.menu__item--3 .menu__item-inner {
  background-color: #1d1f26;
}
.menu__item--4 .menu__item-inner {
  background-color: #111;
}
.menu__item--5 .menu__item-inner {
  background-color: #1d1f26;
}

.menu__item--1 .menu__item-inner {
  justify-content: center;
  align-items: center;
  padding-left: 6rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.mainmenu__item {
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.3s;
  line-height: 1.1;
  opacity: 0;
}

.mainmenu__item:hover {
  color: #a0ea00;
}

.mainmenu__item span {
  font-size: 1rem;
  color: #555;
  font-weight: 400;
  vertical-align: top;
  display: inline-block;
  margin-top: 10px;
}

.label-vertical {
  position: absolute;
  font-size: 0.8rem;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 2px;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.label-vertical.left {
  top: 3rem;
  left: 3rem;
  transform: rotate(180deg);
}

.label-vertical.left::before {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background-color: #555;
}

.label-vertical.right {
  bottom: 3rem;
  right: 3rem;
}

.label-vertical.right::after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background-color: #555;
}

.menu__item--2 .menu__item-inner {
  justify-content: center;
  align-items: center;
}

.github-link {
  font-size: 1.1rem;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.github-link:hover {
  opacity: 1;
}

.menu__item--3 .menu__item-inner {
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 4rem;
  padding-left: 3rem;
}

.info-group {
  margin-bottom: 2.5rem;
  opacity: 0;
}

.info-title {
  display: block;
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info-desc {
  display: block;
  font-size: 1rem;
  color: #ccc;
  font-weight: 300;
}

.menu__item--4 .menu__item-inner {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slogan-text {
  font-size: 1.2rem;
  color: #a0ea00;
  line-height: 1.6;
  font-weight: 400;
}

.menu__item--5 .menu__item-inner {
  justify-content: space-between;
  padding: 3rem;
}

.contact-label {
  font-size: 0.9rem;
  color: #333;
  color: #555;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-label::before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #333;
}

.phone-number {
  display: block;
  font-size: 1.5rem;
  color: #ccc;
  font-weight: 300;
}

.phone-number span {
  display: block;
  margin-top: 0.5rem;
}
